h2 {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}
.btn-profiles {
  display: flex;
  justify-content: space-evenly;
}
#profilePhoto {
  display: flex;
  justify-content: center;
}
